<!DOCTYPE html>
                    <html>
                        <head>
                            <title>Blake (Under 15) 100m Free</title>
                        <head>
                        <body>
                            <h3>Blake (Under 15) 100m Free</h3> 
                            <svg height="30" width="400">
                                <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
                            </svg>1:04.87<br /> 
                            <svg height="30" width="400">
                                <rect height="30" width="344.66" style="fill:rgb(0,0,255);" />
                            </svg>1:03.88<br /> 
                            <svg height="30" width="400">
                                <rect height="30" width="349.84" style="fill:rgb(0,0,255);" />
                            </svg>1:04.84<br /> 
                            <svg height="30" width="400">
                                <rect height="30" width="340.83" style="fill:rgb(0,0,255);" />
                            </svg>1:03.17<br /> 
                            <svg height="30" width="400">
                                <rect height="30" width="346.17" style="fill:rgb(0,0,255);" />
                            </svg>1:04.16<br /> 
                            <svg height="30" width="400">
                                <rect height="30" width="341.26" style="fill:rgb(0,0,255);" />
                            </svg>1:03.25<br /> 
                            <svg height="30" width="400">
                                <rect height="30" width="335.22" style="fill:rgb(0,0,255);" />
                            </svg>1:02.13<br />
                            <p>Average Time: 1:03.76</p>
                        </body>
                    </html>
